* {
    margin: 0;
}

header {
    height: 80px;
}

.container {
    line-height: 80px;
}

.name {
    padding-left: 30px ;
}

.btn {
    position: absolute;
    right: 40px;
    top: 0px;
}

.a-btn {
    width: 100px; /*условные*/ 
    height: 100px; /*размеры*/
}
